.game-history {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    grid-column: 1 / 2;
  }

  @media screen and (max-width: 420px) {
    grid-column: 1 / 13;
  }
}

.game-history__container {
  list-style-type: none;
  margin: 0;
  min-width: 200px;
  text-align: center;
  @media screen and (max-width: 420px) {
    padding: 0;
  }
}

.game-history__step {
  margin-bottom: 5px;
}
