* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: #fff;
  margin: auto;
}

.select__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.game__container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  @media screen and (max-width: 420px) {
    flex-direction: column;
    align-items: center;
  }
}
