* {
  box-sizing: border-box;
  font-family: monospace;
  text-transform: uppercase;
}

.wrapper {
  display: none;
  justify-content: center;
  position: relative;
  color: #fff;
}

.game__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  width: 100%;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board,
.game-instructions {
  text-align: center;
}

.board-header {
  width: 100%;
  min-width: 365px;
}

.board-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-header__reset-button,
.board-header__current-move {
  margin: 16px;
}

@media screen and (max-width: 900px) {
  .game-board {
    grid-column: 3 / 2;
    order: 2;
  }
  .game-instructions {
    grid-column: 1 / 2;
  }
  .game__container {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 540px) {
  .game-instructions {
    grid-column: 1 / 13;
  }

  .game-board {
    order: 0;
    grid-column: 1 / 13;
  }
}
