* {
  box-sizing: border-box;
}

.game-board {
  text-align: center;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: #fff;
  margin: auto;
}

.select__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.board-header {
  width: 100%;
  min-width: 250px;
}

.board-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-header__reset-button,
.board-header__current-move {
  margin: 16px;
}

.game__container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-width: 420px) {
  .game__container {
    flex-direction: column;
    align-items: center;
  }
}
